<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mushafaandira.kotlinmessenger">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/andira_messenger"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinMessenger">
        <activity android:name="com.example.kotlinmessenger.ChatLogActivity"
            android:parentActivityName="com.example.kotlinmessenger.LatestMessagesActivity"
        ></activity>
        <activity android:name="com.example.kotlinmessenger.LatestMessagesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.example.kotlinmessenger.NewMessageActivity"
            android:parentActivityName="com.example.kotlinmessenger.LatestMessagesActivity"></activity>
    </application>

</manifest>